# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Test main files
*main.py
*main.c

# Text files in python-input_output (not subdirectories)
python-input_output/*.txt
python-input_output/*.json
python-input_output/8-my_class*

# Pickle, json, xml and csv files
*.pkl
*.json
*.csv
*.xml
