<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Products</title>
  </head>
  <body>
    {% include 'header.html' %} {% if error %}
    <p>{{ error }}</p>
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %} {% include 'footer.html' %}
  </body>
</html>
